.library-search-container {
    padding: 2rem;
    margin: 2rem;
    color : black;
}

.search-box {
    margin-bottom: 1rem;
}

.search-box select {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size : 1rem;
}

.search-box button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size : 1rem;
}

.search-box button:hover {
    background-color: #0056b3;
}

.library-details {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.library-details h2 {
    color: black;
}

.library-details p {
    color: rgb(77, 77, 77);
    font-size: 1rem;
}